<h1>Search string:</h1>
<%= @matched_users %>


<table>
  <tr>
    <th>Tsl class</th>
    <th>First name</th>
    <th>Last name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br />

<%= link_to 'New User', new_user_path %>
